.sidebarChat {
    display: flex;
    padding: 0 0 0 20px;
    align-items: center;
    cursor: pointer;
    border-radius: 1px solid #f6f6f6;
}

.sidebarChat:hover {
    background-color: #ebebeb;
}

.sidebarChat__info > h2 {
    font-size: 18px;
    font-weight: 500;
}

.sidebarChat__info {
    margin-left: 15px;
    padding: 20px 20px 20px 0;
    flex: 1;
    border-bottom: 1px solid lightgray;
}
